.submit_button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  min-height: 60px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  font-family: 'Nunito';
  margin-top: 5%;
}

.submit_button:disabled {
  pointer-events: none;
}

.submit_button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submit_button:active {
  box-shadow: none;
  transform: translateY(0);
}

.informations_box {
    display: flex;
    font-family: 'Nunito';
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

.contact_us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title_01 {
  font-family: 'Nunito' !important;
  text-align: center;
  font-size: 175%;
}

.contact_us_01 {
  font-family: 'Noto sans' !important;
  text-align: center;
  font-size: 100%;
  margin-top: 3%;
}

.mail_icon_style {
  width: 29px;
  height: 22px;
  position: relative;
  margin: 5%;
}

.phone_icon_style {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 5%;
}

.location_icon_style {
  width: 19px;
  height: 25px;
  position: relative;
  margin: 5%;
}

.assembly_icon_text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact_register {
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    border-radius: 7px;
    background-image: linear-gradient(151.16deg, #FFF8F8 10.38%, #F5F7FF 95.44%);
    
}

.contact_register form {
  display: flex;
  flex-direction: column;
  width: 100%;
    margin: 5%;
    align-items: center;
}

.name_mail_register {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.company_subject_register {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.contact_icon {
    width: 7vw;
    height: auto;
    margin-bottom: 5%;
}

.contact p {
  font-family: 'Nunito';
}

.appel p {
  font-family: 'Nunito';
}

.contact, .appel, .bureaux {
  background-color:#FFDC60;
  border: 2px;
  border-radius: 15px;
  width: 35%;
  display: flex;
  justify-content: center;
  height: 35px;
  align-items: center;
}

.mail_icon_style,
.phone_icon_style,
.location_icon_style {
    width: 20%;
    height: auto;
    margin-right: 5%;
}


.promote_mail, .promote_number, .promote_location {
  border-radius: 7px;
  background-color: white;
  z-index: 1;
  padding: 5%;
  font-size: 75%;
}

.border{
    margin: 1%;
    background-image: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);
    padding: 1%;
    border-radius: 7px;
}

.icon_titre{
    display: flex;
    align-items: center;
    width: 100%;
}



p.description_01 {
    position: relative;
    left: 20%;
    font-size: 100%;
}

input{
    padding: 5%;
    width: 88%;
}


.input_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_register, .mail_register, .company_register, .subject_register{
    padding: 2%;
    margin: 7% 0;
    width: 40%;
}

.name_register{
    margin-right: 5%;
}

.mail_register{
    margin-left: 5%;
}

.message_register {
    width: 90%;
}

.message_register input {
    height: 300px;
}

.newsletter {
    margin-top: 10%;
    background-image: url(Images/pattern_newsletter_removebg.png);
    background-color: #1A1A1A;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre_newsletter {
    font-size: 200%;
    color: white;
}

.input_content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

button.btn_souscrire {
    background: #FFDC60;
    color: #292930;
    width: 30%;
    padding: 5%;
    margin-left: 5%;
    border-radius: 10px;
}

.input_mail{
    background: #5B5B61;
    color: white;
    padding: 5%;
    width: 45%;
    border-radius: 10px;
}

.content_02{
    margin-top: 7%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_js {
    width: 50%;
}


.faq {
    margin: 3% 0;
    padding: 1% 3%;
    border: 1.5px solid #DCDCDC;
    border-radius: 10px;
}

.question{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 125%;
    font-weight: bold;
}

.fleche_faq{
    cursor: pointer;
    width: 8%;
}

.description {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.description.active {
    height: auto;
    width: 90%;
}

.name_mail_register,
.company_subject_register {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.name_register,
.mail_register,
.company_register,
.subject_register {
    width: 48%;
}

.message_register {
    margin-bottom: 5%;
}

.submit_button {
    width: 100%;
}

#box_promote {
    border-radius: 20px;
    border: 1vw solid;
    border-image: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);
    border-image-slice: 1;
    padding: 1%;
    display: inline-block;
    margin-bottom: 5%;
}

#separation_line {
  width: 17vw;
  height: auto;
}