body {
    font-family: 'Nunito';
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: auto;
    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

}

h1 {
    margin: auto;
}

p {
    margin: auto;
    margin-top: 5px;
}

.submit_button {
    appearance: none;
    background-color: #000000d7;
    border: 2px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    min-height: 55px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 166px;
    will-change: transform;
    font-family: 'Nunito';
    margin-top: 25px;
}

.enter_password {
    width: 350px;
    height: 50px;
    margin-top: 25px;
    border-radius: 4px;
    border: 2px solid #d3d3d361;
    background-color: #dcdcdc54;
    padding-left: 15px;
}

.background {
    background-image: url(Images/Background.png);
    width: fit-content;
    margin-top: 75px;
}

.top_background {
    background-color: white;
    width: 500px;
}
  