body {
    margin: 0%;
}

.pagebanner {
    background-image: url(Banner\ Image.png);
    width: 1920px;
    height: 1156px;
}

.pageservices {
    background-color: #292930;
}

header {
    display: flex;
    flex-direction: row;
    width: 1402px;
    padding-left: 345px;
    height: 81.16px;
    padding-top: 56px;
}

.logo {
    height: 81.16px;
    width: 239px;
    padding-right: 147px;
}

.btnheader {
    font-family: "Nunito";
    font-size: 18px;
    padding: 17px 39px 18px 39px;
    background-color:  #292930;
    color: white;
    border-radius: 7px;
    width: 156px;
    height: 64px;
}

.txtheader {
    font-family: "Nunito";
    font-size: 18px;
    line-height: 28.8px;
    width: 1010px;
    position: relative;
    
}

.txtheader .btnheader {
    float: right;
    display: flex;
    align-items: center;
    height: 81.16px;
}

.bheader {
    position: relative;
    float: left;
    width: 150px;
    color: #292930;
    text-decoration: none;
    height: 81.16px;
    display: flex;
    align-items: center;
}

.bheader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45%;
    height: 3px; 
    background: linear-gradient(to right, #FFDC60 50%, #5956E8 50%); 
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.3s ease; 
  }
  
  .bheader:hover::after {
    transform: scaleX(1); 
  }
  
  .title {
    font-family: "Noto Sans";
    font-size: 15px;
    letter-spacing: 3px;
    margin: 0%;
  }

  .title2 {
    font-family: "Nunito";
    font-size: 70px;
    line-height: 77.35px;
    margin-top: 28px;
    font-weight: bold;
  }

  .container {
    margin-left: 360px;
    padding-top: 184px;
    width: 740px;
  }

  .latin {
    font-size: 18px;
    font-family: "Noto Sans";
    width: 593px;
    line-height: 28.17px;
    margin-top: 34px;
  }

  .btnservices {
    width: 183px;
    height: 64px;
    border-radius: 7px;
    padding: 17px, 39px, 18px, 39px;
    background-color: #292930;
    font-family: "Nunito";
    font-size: 18px;
    color: white;
    margin-right: 20px;
  }

  .btnstart {
    width: 156px;
    height: 64px;
    border-radius: 7px;
    padding: 17px, 39px, 18px, 39px;
    background-color: transparent;
    font-family: "Nunito";
    font-size: 18px;
    color: #292930;
  }

  


