@import url(TailleAjustableV2.css);
@import url(GestionCadres.css);
@import url(contactcss.css);
@import url(Aproposcss.css);
@import url(Galerie.css);
@import url(Menu.css);

@font-face {
    font-family: 'Windlass';
    src: url('Windlass.ttf') format('truetype');
}

@font-face {
    font-family: 'Tryptic';
    src: url('Tryptic.ttf') format('truetype');
}

.ajouter_question {
    display: flex;
    
}

header {
    text-align: center;
    transition: all 0.3s;
    margin-top: 1%;
    margin-bottom: 2%;
    z-index: 0;
    position: static;
}

header.scrolled {
    height: 60px;
    line-height: 60px;
}

header img {
    max-width: 100%;
}

.Titre {
    display: inline-block;
    margin: 0;
    position: sticky;
    padding-top: 0%;
    z-index: 5;
}

body {
    background-image: url('sot1.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Windlass', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 2, 2);
}

nav {
    text-align: center;
    font-family:'Windlass';
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0;
    margin-top: 0;
}

.Partie-container {
    position: sticky;
    top: 0;
    z-index: 3;

}

.animated-button {
    border: 1px solid rgb(255, 255, 255);
    padding: 1%;
    display:inline-block;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(22, 2, 2);
}

.perso-container {
    display: inline-flex;
    align-content: center;
    margin-top: 10%;
}

.perso-container video {
    height: 50%;
    width: 50%;
    border: 10px solid rgb(22, 2, 2);
    border-radius: 10px;
}

.perso1 {
    width: 22%;
    height: 22%;
    margin-left: 3%;
}

.perso2 {
    width: 15%;
    height: 15%;
    margin-left: 5%;
}

.description {
    text-align: center;
    background-color: rgb(22, 2, 2);
    color: rgb(200, 188, 162);
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-height: 200px;
    overflow: auto;
    margin-top: 10%;
    font-style: italic;
}

h2 {
    font-family: 'Windlass';
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-bottom: 1%;
}

h3 {
    font-size: 135%;
    font-style:italic;
    text-decoration: underline;
}

p {
    color: rgb(200, 188, 162);
}

.cadrelien {
    display: block;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: rgb(200, 188, 162);
    background-color: rgb(22, 2, 2);
    align-self: center;
    border-radius: 200px; 
}

.footer {
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img {
    width: 45px; 
    margin-right: 20px;
}

.footer-content .MiniLogo img {
    height: 40px;
    width: auto;
}


