@font-face {
    font-family: "NunitoDisplay";
    src: url("Nunito-ExtraBold.ttf");
}
.bannerimage{
    width: 1920px;
    height: 605.49px;
    border: 2px solid;
    background-image: url(Banner\ Image.png);
    margin:0px;
    padding: 0px;
    }
.Displaytext{
    font-family: "Nunito";
    font-size: 70px;
    color: #292930;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: 0em;
    margin-top: 398.99px;
    margin-left: 822px;

    
}

.Servicebanner{
    background-color: #292930;
    width: 1920px;
    height: 1623.57px;
    margin: 0;
    padding: 0;
    
}

.Content,
.Content * {
  box-sizing: border-box;
}
.Content {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.Heading {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 781px;
    position: relative;
  }
.Subtitle{
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.135em;
    text-align: center;

    font-family: "Noto Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.135em;
    text-align: center;

}
.title{
    width: 781px;
    height: Hug 126px;
    gap: 15px

}
.Title{
    font-family: "Nunito";
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;


}

.heading {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 781px;
    position: relative;
  }
.logo-container {
    width: 88px;
    height: 88px;
    background-color: #5956E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.logo-gear {
    width: 44px; 
    height: 44px;
    color: white; 
}

.Services {
    display: flex;
    flex-direction: column;
    gap: 67px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

._1 {
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }
  ._2 {
    background: linear-gradient(
      180deg,
      rgba(54, 54, 62, 1) 0%,
      rgba(41, 41, 48, 1) 100%
    );
    border-radius: 30px;
    border-style: solid;
    border-color: #424245;
    border-width: 1px;
    padding: 41px 39px 41px 39px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 352px;
    position: relative;
  }

._12 {
    background: linear-gradient(
      180deg,
      rgba(54, 54, 62, 1) 0%,
      rgba(41, 41, 48, 1) 100%
    );
    border-radius: 30px;
    border-style: solid;
    border-color: #424245;
    border-width: 1px;
    padding: 41px 39px 41px 39px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 352px;
    position: relative;
}

.Service-content {
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 274px;
    position: relative;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 274px;
    position: relative;
  }

  .marketing-m-dias-sociaux {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110.5%;
    font-weight: 600;
    position: relative;
  }

  .rantext{
    color: #d0d0d0;
    text-align: left;
    font-family: "NotoSans-Regular", sans-serif;
    font-size: 18px;
    line-height: 156.5%;
    font-weight: 400;
    position: relative;
    width: 274px;
    height: 84px;
  }

  .publicit-pay-e {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110.5%;
    font-weight: 600;
    position: relative;
  }

  ._3 {
    background: linear-gradient(
      180deg,
      rgba(54, 54, 62, 1) 0%,
      rgba(41, 41, 48, 1) 100%
    );
    border-radius: 30px;
    border-style: solid;
    border-color: #424245;
    border-width: 1px;
    padding: 41px 39px 41px 39px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 352px;
    position: relative;
  }

  .analyse-avanc-e {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110.5%;
    font-weight: 600;
    position: relative;
  }
  ._22 {
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 1200px;
    position: relative;
  }

  ._13 {
    background: linear-gradient(
      180deg,
      rgba(54, 54, 62, 1) 0%,
      rgba(41, 41, 48, 1) 100%
    );
    border-radius: 30px;
    border-style: solid;
    border-color: #424245;
    border-width: 1px;
    padding: 41px 39px 41px 39px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 352px;
    position: relative;
  }

  ._023-startup {
    width: 54.98px;
    height: 83px;
    position: static;
  }

  .optimisation-du-r-f-rencement {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110.5%;
    font-weight: 600;
    position: relative;
  }

  ._23 {
    background: linear-gradient(
      180deg,
      rgba(54, 54, 62, 1) 0%,
      rgba(41, 41, 48, 1) 100%
    );
    border-radius: 30px;
    border-style: solid;
    border-color: #424245;
    border-width: 1px;
    padding: 41px 39px 41px 39px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 352px;
    position: relative;
  }

  .tunnel-optimisation {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110.5%;
    font-weight: 600;
    position: relative;
  }

  ._32 {
    background: linear-gradient(
      180deg,
      rgba(54, 54, 62, 1) 0%,
      rgba(41, 41, 48, 1) 100%
    );
    border-radius: 30px;
    border-style: solid;
    border-color: #424245;
    border-width: 1px;
    padding: 41px 39px 41px 39px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 352px;
    position: relative;
  }

  .marketing-de-contenu {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito-SemiBold", sans-serif;
    font-size: 25px;
    line-height: 110.5%;
    font-weight: 600;
    position: relative;
  }

